html { font-size: 12pt; font-family: 'Lato', sans-serif; margin: 20mm 20mm 20mm 25mm}
h1 { font-size: 16pt; color: gray; }
footer { position: absolute; bottom: -10px; font-size: 10px; }
.test {width: 100%; background: #eee; }